/* =========================
    Mixins
========================= */

// Button colors
@mixin buttons($map) {
  @each $button, $color in $map {
    .#{$button} {
      background-color: $color;
    }
  }
}

// Column media queries
@mixin mq($break) {
  $break: map-get($breakpoints, $break);
  @media (min-width: $break) {
    @content;
  }
}

// Themes
@mixin themes($map) {
  @each $column, $color in $map {
    &.col-#{$column} {
      background-color: $color;
    }
  }
}

// Column basis
@mixin columns($columns) {
  @each $column, $color in $columns {
    &-#{$column} {
      flex-basis: col-basis($column);
    }
  }
}

// Center images
@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
