/* =========================
    Mixins
========================= */

// Button colors
@mixin buttons($map) {
  @each $button, $color in $map {
    .#{$button} {
      background-color: $color;
    }
  }
}

// Column media queries
@mixin mq($break) {
  $break: map-get($breakpoints, $break);
  @media (min-width: $break) {
    @content;
  }
}

// Columns
@mixin columns($map) {
  @each $column, $color in $map {
    &.col-#{$column} {
      background-color: $color;
      @include mq("med") {
        flex-basis: col-basis($column);
      }
    }
  }
}
