/* =========================
    Variables
========================= */

// Colors
$color-text: #777;
$color-primary: #58e1c1;
$color-accent: #51ddfc;
$color-frame: #ccc;
$white: #fff;

// Button colors
$buttons: (
  "def": #51ddfc,
  "err": #e4757a,
  "info": #927bc1,
  "succ": #63cc82,
  "warn": #fd7856,
);

// Breakpoints
